<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.pablocaraballogomez.FirebaseAuth</string>
	<key>CLIENT_ID</key>
	<string>390830053952-28pta881avtqmhrl31a4fetv7i389pef.apps.googleusercontent.com</string>
	<key>CFBundleName</key>
	<string>FirebaseAuth</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.390830053952-28pta881avtqmhrl31a4fetv7i389pef</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
